<?php
if (!$this->login->tryLogin()) {
  echo $this->signInHelper($this->login);
} else {
  ?>
  <div>Od: <input type="text" name="kalendarz_pocz" class="kalendarz_pocz" style="width:120px;" value='<?php echo $this->date_start ?>' />
    Do: <input type="text" name="kalendarz_kon" class="kalendarz_kon" style="width:120px;margin-left: 15px;" value='<?php echo $this->date_end ?>'/></div> 

  <div class="right_content" id="energy">

  </div>
  <?php
}
?>
<script>
  var chart1;
  $(document).ready(function()
  {
    ////kalendarz
    $(".kalendarz_pocz").datepicker({
      onClose: function(selectedDate) {
        $(".kalendarz_kon").datepicker("option", "minDate", selectedDate);
      }
    });
    $(".kalendarz_kon").datepicker({
      onClose: function(selectedDate) {
        $(".kalendarz_pocz").datepicker("option", "maxDate", selectedDate);
      }
    })
    $(".kalendarz_kon, .kalendarz_pocz").change(function() {
      var data_od = 'date_start=' + $("input[name='kalendarz_pocz']").val();
      var data_do = 'date_end=' + $("input[name='kalendarz_kon']").val();
      $.ajax({
        type: "POST",
        url: "/index/energy/",
        data: data_od + "&" + data_do,
        success: function(data) {
          chart1.series[0].setData(JSON.parse(data))
        }
      });
    });
    $('#userstable').tablesorter({
      headers: {
        0: {sorter: false},
        2: {sorter: false},
        3: {sorter: false}
      }
    });
    chart1 = new Highcharts.Chart({
      title: {
        text: 'Energy Stats'
      },
      chart: {
        renderTo: 'energy',
      },
      xAxis: {
        type: 'datetime',
        title: {
          text: 'Date',
        }
      },
      yAxis: {
        title: {
          text: 'Kw'
        }
      },
      series: [{
          name: 'Kw',
          data: [<?php echo join($this->energy, ',') ?>]
        }]
    });
  })
</script>
