<?php
if (!$this->login->tryLogin()) {
  echo $this->signInHelper($this->login);
} else {
  ?>

  <h2 class="title">USERS</h2>
  <div class="right_content" id="users">
    <table id="userstable" class="tablesorter">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>Surname</th>
        </tr>
      </thead>
      <tbody>
        <?php
        if (count($this->all_user))
          foreach ($this->all_user as $user) {
            echo "<tr><td>" . $user['id'] . "</td><td>" . $user['email'] . "</td><td>" . $user['name'] . "</td><td>" . $user['surname'] . "</td></tr>";
          }
        ?>
      </tbody>
    </table>
  </div>
  <?php
}
?>
<script>
  $(document).ready(function()
  {
    $('#userstable').tablesorter({
      headers: {
        0: {sorter: false},
        2: {sorter: false},
        3: {sorter: false}
      }
    });
  })
</script>
