<div id="login">
  <h1>SIGN IN</h1>
  <a href="#" id="show_sign_up">Sign up</a>
  <form action="/" method="post" id="form_sign_in">
    <table>
      <tr>
        <td>
          <label for="email">email:</label>
        </td>
        <td>
          <input type="text" name="email" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">pass:</label>
        </td>
        <td>
          <input type="password" name="password" />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="button_submit" sumbit="form_sign_in" style=" margin-top: 35px;">ENTER</div>
        </td>
      </tr>
    </table>
  </form>
  <div id="sign_up">
    <form action="/login/sign-up" method="post" id="form_sign_up">
      <table>
        <tr>
          <td>
            <label for="email">email:</label>
          </td>
          <td>
            <input type="text" name="email" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="name">name:</label>
          </td>
          <td>
            <input type="text" name="name" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="surname">surname:</label>
          </td>
          <td>
            <input type="text" name="surname" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="date_birth">date birth:</label>
          </td>
          <td>
            <input type="date" name="date_birth" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="button_submit" sumbit="form_sign_up" style=" margin-top: 35px;">Sign Up</div>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <p class="alert">

    <?php
    if (strlen($this->error_login))
      echo $this->error_login . "<br>";
    ?>
  </p>

</div>