html, body{
    margin: 0;
    height: 100%;
}
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
label{
    color: rgb(120,120,120);
}
.clear{
    clear: both;
}
#container {
    height: 100%;
}

#box{
    height: calc(100% - 101px);
}
#box > div{
    float: left;
    padding: 20px 40px;
    height: 100%;
}
#box div#hr{
    height: calc(100% - 60px);
    width: 3px;
    padding: 0;
    margin: 30px 0px;
    background: rgba(100,100,100,0.8);
}
#menu {
    width: calc(30% - 3px);
}
#content {
    width: 70%;
}
#footer{
    height: 101px;
    background: rgb(50,50,50);
    padding: 20px 25px; 
}
#login  h1{
    margin-left: 55px;
}
#login  input{
    width: 175px;
}
.button_submit, a .button_submit{
    padding: 5px 35px;
    text-align: center;
    background: rgb(200,200,200);
    border: 1px solid rgb(150,150,150);
    border-radius: 3px;
    float: left;
    cursor: pointer;
    text-decoration: none;
    color: rgb(0,0,0);
}
#login  table tr td:first-of-type{
    min-width: 55px;
}
#login  table tr td{
    padding-top: 10px;
}
#login  p{
    margin-top: 35px;
    min-height: 80px;
    background: rgb(200,200,200);
    max-width: 400px;
    border: 1px solid rgb(150,150,150);
    border-radius: 3px;
}
#menu_panel{
    height: 100px;
}
#menu_panel a, #menu_panel a:hover, #menu_panel a:visited{
    color: rgb(0,0,0);
    text-decoration: none;
}
.alert{
    padding: 10px;
    color: rgb(200,0,0);
}
.actual_gallery{
    font-weight: bold;
}
h2.title{
    margin-left: calc(50% - 200px);
    text-transform: uppercase;
}

#login{
    margin-top: 50px;
}
#sign_up{
    display: none;
}
#users table tr td:first-of-type{
    padding: 3px;
}
#users table tr td{
    padding: 3px 10px;
}
#users table tr:nth-child(even){
    background: #DDDDDD;
}
#users table tr:nth-child(odd){
    background: #FAFAFA;
}