<div id='menu_panel'><?php if ($this->islogged) { ?>

  <a href="/login/logout">LOGOUT</a><br><br>
  <a href="/index/users">USERS</a><br>
  <a href="/index/energy">ENERGY</a><br>
    <?php
  }
  ?>
</div>