<?php echo $this->doctype() ?>

<head>
  <?php echo $this->headMeta() ?>
  <?php echo $this->headStyle() ?>
  <?php echo $this->headLink() ?>
  <?php echo $this->headScript() ?>
  <?php echo $this->headTitle() ?>
</head>
<body>
  <div id="container">
    <div id="box">
      <div id="menu">
        <?php
        echo $this->panelHelper($this->db, $this->user);
        ?>
      </div>
      <div id="hr"></div>
      <div id="content">
        <?php echo $this->layout()->content ?>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</body>
</html>